@charset "utf-8";
/*body{background-image: url(https://maps.googleapis.com/maps/api/staticmap?center=0,127&zoom=2&size=640x640&style=lightness:50);background-size: cover;}*/

body{background: -webkit-linear-gradient(rgb(247, 238, 242),rgb(199, 230, 223));
    background: -o-linear-gradient(rgb(247, 238, 242),rgb(199, 230, 223));
    background: -moz-linear-gradient(rgb(247, 238, 242),rgb(199, 230, 223));
    background: linear-gradient(rgb(247, 238, 242),rgb(199, 230, 223));
    background-size: cover;min-height: 100vh}
header{position: fixed;top: 0;left: 0;display: flex;align-items: center;width: 100%;z-index: 999;text-align:center;background-color: rgba(0, 0, 0, 0.7);min-height: 3em;color: rgb(250, 250, 250);font-weight:bold;}

#mapContainer{display: inline-block;}
#uviMap{width:100%; height: 100vh;}
#desc{display: inline-flex;}
#desc table{border-style: solid; border-color: rgb(250, 250, 250);border-width: 5px;
    background-color:rgba(250, 250, 250, 0.6);font-weight:bold;}

#cont{display: flex;align-items: center;}
.hide{display: none;}

/*S*/
@media (max-width:769px){
    #mapContainer{width:100vw;}
    #desc{width:100vw;}
    #desc table{width:100%;}
    #cont{flex-direction:column}
}

/*B*/
@media (min-width:769px){
    #mapContainer{width:70vw;}
    #cont{flex-direction:row}
}